# Session 8: Assignment 1

### 1) How-to-count-distance-to-the-previous-zero
    For each value, count the difference of the distance from the previous zero (or the start
    of the Series, whichever is closer) and if there are no previous zeros,print the position
    Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
#### The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [1]:
import numpy as np

In [2]:
import pandas as pd
import itertools as it
n = 0

def distancefromPreviousZero(x):
    global n
    if x==0:
        n = 0
        return 0
    else:
        n=n+1
        return n


df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y'] = df['X'].apply(lambda x: distancefromPreviousZero(x))

In [3]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

### 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers

In [4]:
from pandas.tseries.offsets import BDay

businessdays = pd.bdate_range(start='2015-01-01', end='2015-12-31')
label = np.array(np.random.randint(1,1000,len(businessdays)))

s = pd.Series(data=label, index = businessdays)
s

2015-01-01    790
2015-01-02    301
2015-01-05      6
2015-01-06    625
2015-01-07     24
2015-01-08    229
2015-01-09    489
2015-01-12     81
2015-01-13    657
2015-01-14    424
2015-01-15    373
2015-01-16    366
2015-01-19    512
2015-01-20    911
2015-01-21    190
2015-01-22    610
2015-01-23    782
2015-01-26     12
2015-01-27     36
2015-01-28    461
2015-01-29    822
2015-01-30    659
2015-02-02     58
2015-02-03    624
2015-02-04    820
2015-02-05    479
2015-02-06    765
2015-02-09    385
2015-02-10     51
2015-02-11    203
             ...
2015-11-20    829
2015-11-23    229
2015-11-24     75
2015-11-25    591
2015-11-26    366
2015-11-27    504
2015-11-30    584
2015-12-01    117
2015-12-02    687
2015-12-03    587
2015-12-04    640
2015-12-07    850
2015-12-08    809
2015-12-09    355
2015-12-10    398
2015-12-11    452
2015-12-14     51
2015-12-15    187
2015-12-16    709
2015-12-17    654
2015-12-18    723
2015-12-21    840
2015-12-22     61
2015-12-23    358
2015-12-24    189
2015-12-25    381
2015-12-28    943
2015-12-29    536
2015-12-30    608
2015-12-31     98
Freq: B, Length: 261, dtype: int32

### 3) Find the sum of the values in s for every Wednesday

In [5]:
s.where(s.index.dayofweek==2).sum()

24413.0

### 4) Average For each calendar month

In [6]:
s.groupby(s.index.month).mean()

1     425.454545
2     419.400000
3     456.000000
4     594.545455
5     425.190476
6     501.409091
7     589.652174
8     600.380952
9     582.363636
10    339.454545
11    418.523810
12    488.391304
dtype: float64

### 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [7]:
#groupby month and get highest of each month
result = s.groupby(s.index.month).agg(['max','idxmax']).reset_index()

In [8]:
def Groupby4Months(x):
    '''function to groupby 4 months'''
    if x in [1,2,3,4]:
        return 1
    elif x in [5,6,7,8]:
        return 2
    else:
        return 3

In [9]:
result['4MS'] = result['index'].apply(lambda x: Groupby4Months(x))
result.groupby('4MS').max()

     index  max     idxmax
4MS
1        4  945 2015-04-08
2        8  994 2015-08-20
3       12  975 2015-12-28