# Session 8: Assignment 1 - Raghunath

### 1) How-to-count-distance-to-the-previous-zero
    For each value, count the difference of the distance from the previous zero (or the start
    of the Series, whichever is closer) and if there are no previous zeros,print the position
    Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
#### The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [1]:
import numpy as np

In [2]:
import pandas as pd
import itertools as it
n = 0

def distancefromPreviousZero(x):
    global n
    if x==0:
        n = 0
        return 0
    else:
        n=n+1
        return n


df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y'] = df['X'].apply(lambda x: distancefromPreviousZero(x))

In [3]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

### 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers

In [4]:
from pandas.tseries.offsets import BDay

businessdays = pd.bdate_range(start='2015-01-01', end='2015-12-31')
label = np.array(np.random.randint(1,1000,len(businessdays)))

s = pd.Series(data=label, index = businessdays)
s

2015-01-01    785
2015-01-02    276
2015-01-05    755
2015-01-06    139
2015-01-07    390
2015-01-08    672
2015-01-09    359
2015-01-12    588
2015-01-13    448
2015-01-14    661
2015-01-15    482
2015-01-16    899
2015-01-19    218
2015-01-20    679
2015-01-21    863
2015-01-22    486
2015-01-23    137
2015-01-26    508
2015-01-27     92
2015-01-28    783
2015-01-29    729
2015-01-30    228
2015-02-02    873
2015-02-03    150
2015-02-04    834
2015-02-05    172
2015-02-06     19
2015-02-09    425
2015-02-10    866
2015-02-11    837
             ...
2015-11-20    539
2015-11-23    387
2015-11-24    473
2015-11-25    878
2015-11-26    425
2015-11-27    630
2015-11-30    667
2015-12-01    519
2015-12-02    338
2015-12-03    100
2015-12-04    499
2015-12-07    822
2015-12-08    578
2015-12-09    856
2015-12-10    763
2015-12-11    924
2015-12-14    814
2015-12-15    192
2015-12-16    195
2015-12-17    963
2015-12-18    623
2015-12-21    904
2015-12-22    641
2015-12-23    262
2015-12-24    404
2015-12-25    153
2015-12-28    419
2015-12-29    636
2015-12-30    517
2015-12-31    463
Freq: B, Length: 261, dtype: int32

### 3) Find the sum of the values in s for every Wednesday

In [5]:
s.where(s.index.dayofweek==2).sum()

28837.0

### 4) Average For each calendar month

In [6]:
s.groupby(s.index.month).mean()

1     508.045455
2     515.950000
3     534.863636
4     524.909091
5     624.047619
6     454.681818
7     428.173913
8     566.809524
9     486.818182
10    643.772727
11    516.761905
12    547.173913
dtype: float64

### 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [7]:
#groupby month and get highest of each month
result = s.groupby(s.index.month).agg(['max','idxmax']).reset_index()

In [8]:
def Groupby4Months(x):
    '''function to groupby 4 months'''
    if x in [1,2,3,4]:
        return 1
    elif x in [5,6,7,8]:
        return 2
    else:
        return 3

In [9]:
result['4MS'] = result['index'].apply(lambda x: Groupby4Months(x))
result = result.groupby('4MS').max()
result['idxmax']

4MS
1   2015-04-07
2   2015-08-26
3   2015-12-17
Name: idxmax, dtype: datetime64[ns]